<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ document.docfile.name }}</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<button><a href="{{ document.docfile.url }}">Download</a></button>
{#<button><a href="{% url csv_application:delete %}">Delete</a></button>#}


<table>
    <tr>
        {%  for header in header_list %}
            <th> {{ header }} </th>
        {% endfor %}
    </tr>

    <tr>
        {% for line in csv_content %}
            <tr>
            {% for element in line %}
                <td>{{ element }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>

</body>
</html>