<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>{{ document.docfile.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script>
    function goBack() {
        window.history.back()
    }
    </script>

    <script>
function hide_show() {
    var x = document.getElementById("replace_buttons");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
</head>
<body>
    <div class="container" style="margin-top: 30px;">
        <h1 class="display-4">{{ document.docfile.name }}</h1>
    </div>


    <div style="margin-top: 50px; margin-left: 80px">


        <form style="float: left; display: inline; width: 34%;">
            <button onclick="goBack()" type="button" class="btn btn-secondary">Go back</button>
        </form>


         <form style="float: left; display: inline; width: 10%;" >
            <input type="button" class="btn btn-primary" value="Download" onclick="window.location.href='{{ document.docfile.url }}'" />
        </form>

        <form style="float: left; display: inline; width: 6%;" >
            <input type="button" class="btn btn-warning" value="Edit" onclick="hide_show()" />
        </form>

        <form style="float: left; display: inline; width: 8%;"  action="{% url 'csv_app:delete' document.id %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-danger" value="Delete"> Delete </button>
        </form>



        <form style="float: left; display: inline; width: 8%;"  action="{% url 'csv_app:logs' document.slug %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-info" value="logs"> History </button>
        </form>



</div>

<div id="replace_buttons" style="display:none;">

    <form action="{% url "csv_app:list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>




</div>


</body>





<div class="container" style="margin-top: 155px;">
    <table class="table table-striped">
        <thead>
            <tr>
                {%  for header in header_list %}
                    <th class="text-center"> {{ header }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for line in csv_content %}
                    <tr>
                    {% for element in line %}
                        <td align="center">{{ element }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
        </tbody>

    </table>
</div>
</body>
</html>